.user-info {
    min-height: 100%;
    background-color: $color-bg-primary;
    animation: user-info-transform  $anim-duration null null null linear forwards;
}

.user-info-wrap {
    @include dsp-flex;
    margin-top: 40px;
}

.user-info-common {
    @include dsp-flex(null, null, null, column);
    width: 20%;
    .avatar {
        display: inline-block;
        width: 100%;
        max-width: 300px;
        max-height: 300px;
        border: 2px solid rgba($color-br-primary, $opacity-primary);
        border-radius: $br-md;
        background-color: $color-light;
        box-shadow: $box-shadow-tertiary;
        &:hover {
            box-shadow: $box-shadow-tertiary-hover; 
        }
    }

    & > ul {
        @include dsp-flex(null, null, null, column);
        margin-top: 24px;
        word-break: break-word;
        font-size: 1.125em;
        
        & > li {
            padding-bottom: 10px;
            & > .first-col {
                text-transform: capitalize;
                font-family: $font-tertiary;
                &::after {
                    content: ": ";
                }
            }
        }
    }
}

.user-info-bio {
    width: calc-val(50, "-", 80);
    margin-left: 50px;

    .bio-txt {
        margin-top: 24px;
        text-indent: 1.5em;
        line-height: 1.5em;
        &::first-letter {
            text-transform: uppercase;
        }
    }
}

.info-close {
    @include position(30px, 30px);
    font-size: 1.5em;
    color: $color-text-secondary;
    &:hover {
        color: $color-text-primary;
        transform: scale(1.3) rotate(-90deg);
    }
}