footer {
    box-shadow: $box-shadow-tertiary;
    background-color: $color-light;
}

.ftr-content-wrap {
    font-size: 1em;
    text-transform: capitalize;
    justify-content: center;
}

.ftr-bat {
    margin-right: 15px;
    max-width: 32px;
    max-height: 32px;
}