header {
    position: relative;
    box-shadow: $box-shadow-primary;
    background-color: $color-light;
}

.hdr-cont {
    @include dsp-flex(null, space-between, null, center);
    padding-top: 20px;
    padding-bottom: 20px;
}

.hdr-list {
    @include dsp-flex(null, null, null, center);
    & > li {
        margin-left: 30px;
        & > a > i {
            position: relative;
            display: inline-block;
            padding-top: 8px;
            font-size: 1.125em; 
        }
    }
}

.hdr-btn-wrapper {
    margin-right: 10px;
}



