header {
    box-shadow: $box-shadow-primary;
    background-color: $color-light;
}

.hdr {
    @include dsp-flex(null, space-between, center);
    padding-right: 105px;
    padding-left: 35px;
    &.inner-cont {
        padding-left: 35px;
    }
}

.hdr-list {
    @include dsp-flex(null, null, flex-end);
    color: $color-text-secondary;
    & > li {
        margin-left: 30px;
        & > a > i {
            position: relative;
            display: inline-block;
            font-size: 1.4em; 
        }
    }
}

.hdr-btn-wrapper {
    margin-right: 10px;
}

.logo, .profile {
    display: block;
    max-width: 30px;
    max-height: 30px;
}

.logo {
    max-width: 160px;
}



