.home {
    width: $perc-lg;
}

.home-list {
    @include dsp-flex(wrap);
}

.home-item {
    @include bg-img(null, no-repeat, cover, null, center);
    width: $perc-xs;
    &:hover {
        .hover-content {
            opacity: $opacity-primary;
        }
    }
}

.hover-content {
    opacity: $opacity-none;
    color: $color-light;
    background-color: $color-primary;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.hover-inner {
    width: $perc-max;
}

.hover-link-outer {
    display: block;
}

.hover-link {
    display: inline-block;
    margin-top: 15px;
    border: 1px solid $color-light;
    border-radius: $br-rounded;
    &:hover {
        color: $color-custom;
        border-color: $color-custom;
    }
    i {
        margin-left: 2px;
    }
}

.hover-title {
    @include ofl-ellipsis;
    text-transform: capitalize;
    font-size: 1.5em;
}

.hover-desc {
    @include ofl-ellipsis;
    display: inline-block;
    text-transform: lowercase;
    font-size: 0.75em;
    margin-top: 5px;
    border-bottom: 1px solid $color-light;
}
