@media (max-width: map-get($resolutions, md)) {
    
    // ----------------------- Global classes -----------------------
    .btn-primary {
        padding: 10px 16px;
    }

    .btn-default {
        padding: 8px 16px;
    }

    .btn-secondary {
        padding: 6px 12px;
    }
    
    .inner-cont {
        padding-left: 30px;
        padding-right: 30px;
    }

    .mark-top {
        width: 13px;
        height: 13px;
        font-size: 12px;
        bottom: 8px;
        left: 13px;
    }

    // ----------------------- Header -----------------------
    .hdr {
        &.inner-cont {
            padding-left: 15px;
        }
    }

    .hdr-list > li {
        margin-left: 20px;
    }

    .logo {
        max-width: round(158px * map-get($mlp-values, md));
        max-height: round(30px * map-get($mlp-values, md));
    }
    
    .profile {
        max-width: round(30px * map-get($mlp-values, md));
        max-height: round(30px * map-get($mlp-values, md));
    }

    // ----------------------- Aside-Nav -----------------------
    aside {
        max-width: 160px;
        min-width: 160px;
        & > nav {
            padding-left: 15px;
        }
    }

    // ----------------------- Dashboard --------------------------
    .db-rev-list > li {
        padding-right: 8px;
        & > a {
            &::before {
                padding-right: 8px;
                width: 36px;
            }
            &.active::before {
                top: -5px;
                height: 2px;
            }
        }
    }

    .db-filter {
        align-items: flex-end;
    }

    .db-sort-btn > span {
        & > span {
            padding-right: 10px;
        }
        & > i {
            font-size: 1em;
        }
    }

    .db-card {
        width: 47%;
        margin-bottom: 6%;
    }

    .card-list {
        margin-top: 24px;
        padding-right: 15px;
        padding-left: 25px;
        & > li {
            padding-bottom: 16px;
        }
    }

    .card-diff {
        padding-top: 16px;
        padding-right: 15px;
        padding-bottom: 16px;
        padding-left: 25px;
    }
    
    // ----------------------- Footer -----------------------
    .ftr-img {
        max-width: round(32px * map-get($mlp-values, md));
        max-height: round(32px * map-get($mlp-values, md));
    }


}
