@media (max-width: map-get($resolutions, xl)) {

    // ----------------------- Global classes -----------------------
    .inner-cont {
        padding-left: 50px;
        padding-right: 50px;
    }
    // ----------------------- Header -----------------------
    .hdr {
        &.inner-cont {
            padding-left: 25px;
        }
    }
    // ----------------------- Aside-Nav -----------------------
    aside {
        max-width: 200px;
        min-width: 200px;
        & > nav {
            padding-left: 25px;
        }
    }

    .nav-list > li > a > i {
        padding-right: 10px;
    }

    // ----------------------- Dashboard -----------------------
    .card-list {
        padding-left: 10px;
        padding-right: 5px;
    }

    .card-diff {
        padding-left: 10px;
        padding-right: 5px;
    }
}