@media (max-width:  map-get($resolutions, xs)) {
    
    .p-2 {
        padding: 3px;
    }

    .btn-primary {
        font-size: 1.5em;
        height: 42px;
    }

    // --------------------- Menu section ---------------------
    
    .logo-link {
        margin-top: round(48px * map-get($mlp-values, lg));
        margin-bottom: round(35px * map-get($mlp-values, lg));
    }

    .logo {
        max-width: 100px;
        max-height: 50px;
    }

    .btn-menu {
        height: 45px;
    }

    // --------------------- Home section ---------------------
    
    .home-item {
        width: $perc-md;
    }

    .hover-content {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .hover-title {
        font-size: 1.5em;
    }

    .hover-desc {
        font-size: 1em;
    }
    
}