@media (max-width: map-get($resolutions, sm)) {

    // ------------------ Global classes -------------------------

    .btn-primary {
        padding: 6px 12px;
    }

    .btn-default {
        padding: 8px 12px;
    }

    .btn-tertiary {
        padding: 5px 10px;
    }

    .inner-cont {
        padding-left: 20px;
        padding-right: 20px;
    }

    // ---------------------- Header ---------------------------

    .hdr {
        &.inner-cont {
            padding-left: 20px;
            align-items: flex-end;
        }
    }

    .hdr-list {
        display: none;
    }

    .logo {
        max-width: 120px;
    }

    .nav-btn {
        display: block;
    }

    // ------------------------ Aside-Nav -----------------------------

    aside {
        @include position(0, 0, null, null, fixed);
        z-index: $z-index-max;
        transform: translateX(100%);
        max-width: unset;

        &.open {
            transform: translateX(0);
        }
    
        &.close {
            transform: translateX(100%);
        }
        
        & > nav {
            padding-left: 0;
            .nav-list {
                margin-top: 40px;
                & > li > a {
                    justify-content: center;
                }
            }
        }
    }

    .nav-close-btn {
        @include position(20px, 20px, null, null);
        display: block;
        font-size: 1.2em;
    }
    
    // -------------------------- Dashboard ---------------------------

    .tab-btn {
        display: none;
    }

    .tab-btn-hidden {
        display: block;
    }

    .db-filter-list > li > button {
        margin-right: 8px;
    }

    .db-sort-btn {
        & > span {
            padding-right: 5px;
        }

        & > i {
            font-size: 1em;
        }
    }

    .card-list {
        margin-top: 24px;
        padding-right: 10px;
        padding-left: 20px;
    }

    .card-issue-link {
        bottom: 10px;
    }

    .card-issue-count {
        width: 32px;
        height: 32px;
        padding: 2px;
        line-height: 30px;
    }

    .card-diff {
        padding-left: 20px;
        padding-right: 15px;
    }

    // ----------------------- Footer -----------------------------
    .ftr-bat {
        max-width: 22px;
        max-height: 22px;
    }
}