@media (max-width: map-get($resolutions, lg)) {

    // ----------------------- Buttons -----------------------
    .btn-primary {
        padding: round(12px * map-get($mlp-values, lg)) round(25px * map-get($mlp-values, lg));
    }

    .btn-secondary {
        padding: round(8px * map-get($mlp-values, lg)) round(25px * map-get($mlp-values, lg));
    }

    .btn-default {
        padding: round(10px * map-get($mlp-values, lg)) round(35px * map-get($mlp-values, lg));
    }

    .btn-tertiary {
        padding: round(5px * map-get($mlp-values, lg)) round(20px * map-get($mlp-values, lg) - 3px);
    }

    // ----------------------- Global classes -----------------------
    .mark-top {
        width: 15px;
        height: 15px;
        font-size: 13px;
        bottom: 8px;
        left: 14px;
    }

    // ----------------------- Header -----------------------
    .hdr {
        &.inner-cont {
            padding-left: 20px;
        }
    }

    .logo {
        max-width: round(158px * map-get($mlp-values, lg));
        max-height: round(30px * map-get($mlp-values, lg));
    }

    .profile {
        max-width: round(30px * map-get($mlp-values, lg));
        max-height: round(30px * map-get($mlp-values, lg));
    }

    .hdr-btn-wrapper {
        margin-right: 5px;
    }

    .hdr-list {
        & > li {
            margin-left: 25px;
        }
    }

    // ----------------------- Aside-Nav -----------------------

    aside {
        max-width: 180px;
        min-width: 180px;
        & > nav {
            padding-left: 20px;
        }
    }

    // ----------------------- Dashboard -----------------------

    .db-rev-list > li {
        padding-right: 20px;
        & > a.active::before {
            padding-right: 20px;
            width: 36px;
        }
    }

    .db-card {
        width: 31%;
    }

    .card-list {
        margin-top: 28px;
    }

    .card-issue-link {
        right: 20px;
        bottom: 15px;
    }

    .card-issue-count {
        width: 40px;
        height: 40px;
        line-height: 30px;
    }

    .card-issue-text {
        padding-top: 5px;
    }

    .card-diff > div {
        margin-right: 10px;
    }

    // ----------------------- Footer -----------------------

    .ftr-bat {
        padding-right: 15px;
        max-width: round(45px * map-get($mlp-values, lg));
        max-height: round(45px * map-get($mlp-values, lg));
    }
}