@media (max-width:  map-get($resolutions, xs)) {
    // ----------------- Global classes -------------------
    .btn-primary {
        padding: 4px 8px;
    }

    .btn-default {
        padding: 6px 10px;
    }

    .sect-cont-wrap {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .sect-cont {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    // -------------------- Header -----------------------

    .logo {
        max-width: 110px;
        
        max-height: 20px;
    }

    // -------------------- Dashboard -----------------------

    .db-tab {
        align-items: flex-end;
    }

    .db-rev-list {
        white-space: nowrap;
        font-size: 1em;
        & > li {
            padding-right: 5px;
            & > a {
                &::before {
                    padding-right: 5px;
                }
            }
        }
    }

    .db-filter {
        align-items: flex-end;
        margin-top: 10px;
    }

    .db-filter-list {
        justify-content: flex-start;
        flex-wrap: wrap;
        & > li > button {
            margin-right: 10px;
            margin-top: 10px;
        }
    }

    .db-card {
        width: 100%;
    }

    .card-list {
        margin-top: 20px;
        & > li {
            padding-bottom: 10px;
        }
    }

    .card-issue-link {
        right: 30px;
    }

    .card-diff {
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 10px;
    }
    
    .btn-del {
        top: -5px;
    }

    // ----------------------- Footer -----------------------
    .ftr-bat {
        margin-right: 10px;
    }

}