// Color Usage ---------------------------
$color-light: #fff;
$color-dark: #000;

// Text Base Colors ---------------------------
$color-text-primary: #1E272E;
$color-text-secondary: #B2B2B2;

// Background Base Colors ---------------------------
$color-bg-primary: #242b2e;
$color-bg-secondary: #E64A19;
$color-bg-line: #169CDF;

$btn-colors: (
    primary: #0796DD,
    secondary: #0788C8,
    tertiary: #31B67F,
);

// Border Colors ---------------------------
$color-br-primary: #202426;
$color-br-secondary: #169291;

// Gradients ---------------------------
$ln-grad-primary: inear-gradient(#333a3e, #2f373b);
$ln-grad-secondary: linear-gradient(#22adab, #24afad);