// Border Radiuses ---------------------------
$br-default: 4px;
$br-md: 10px;
$br-lg: 30px;
$br-rounded: 50%;
$br-none: 0;

// Transitions ---------------------------
$trns-duration: .3s;
$trns-duration-md: 0.5s;
$trns-duration-lg: 1s;
$trns-delay: 50ms;

// Opacities ---------------------------
$opacity-default: 1;
$opacity-none: 0;
$opacity-primary: 0.8;
$opacity-secondary: 0.6;

// Z-index ---------------------------
$z-index-min: 0;
$z-index-mid: 10;
$z-index-max: 100;

// Box Shadow
$box-shadow-primary: 10px 0 20px 10px rgba(36, 43, 46, $opacity-secondary);

// Percents ---------------------------
$perc-min: 0;
$perc-xs: 25%;
$perc-sm: 33.33%;
$perc-md: 50%;
$perc-lg: 85%;
$perc-max: 100%;