@import "variables";

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: $font-icons !important;
//   speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-info {
    &:before {
        content: $icon-info;
    }
}

.icon-filter {
    &:before {
        content: $icon-filter;
    }
}

.icon-menu {
    &:before {
        content: $icon-menu;
    }
}

.icon-arrow-right {
    &:before {
        content: $icon-arrow-right;
    }
}

.icon-phone {
    &:before {
        content: $icon-phone;
    }
}

.icon-mail {
    &:before {
        content: $icon-mail;
    }
}

.icon-home {
    &:before {
        content: $icon-home;
    }
}

.icon-pinterest-circular {
    &:before {
        content: $icon-pinterest-circular;
    }
}

.icon-flickr {
    &:before {
        content: $icon-flickr;
    }
}
 
.icon-pinterest {
    &:before {
        content: $icon-pinterest;
    }
}

.icon-tumbler {
    &:before {
        content: $icon-tumbler;
    }
}

.icon-vimeo {
    &:before {
        content: $icon-vimeo;
    }
}

.icon-tumbler {
    &:before {
        content: $icon-tumbler;
    }
}
  
.icon-dribbble {
    &:before {
        content: $icon-dribbble;
    }
}

.icon-facebook {
    &:before {
        content: $icon-facebook;
    }
}
  
.icon-twitter {
    &:before {
        content: $icon-twitter;
    }
}



