@import "variables";

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: $font-icons !important;
//   speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-archive {
    &:before {
        content: $icon-archive;
    }
}
.icon-dashboard {
    &:before {
        content: $icon-dashboard;
    }
}
.icon-delete {
    &:before {
        content: $icon-delete;
    }
}
.icon-notification {
    &:before {
        content: $icon-notification;
    }
}

.icon-settings {
    &:before {
        content: $icon-settings;
    }
}

.icon-statistics {
    &:before {
        content: $icon-statistics;
    }
}

.icon-plus {
    &:before {
        content: $icon-plus;
    }
}

.icon-arrow-top { 
    &:before {
        content: $icon-arrow-top;
    }
}

.icon-close { 
    &:before {
        content: $icon-close;
    }
}

.icon-nav { 
    &:before {
        content: $icon-nav;
    }
}

.icon-users { 
    &:before {
        content: $icon-users;
    }
}
