$icon-archive: "\e900";
$icon-dashboard: "\e901";
$icon-delete: "\e902";
$icon-notification: "\e903";
$icon-settings: "\e904";
$icon-statistics: "\e905";
$icon-plus: "\e906";
$icon-arrow-top: "\e907";
$icon-close: "\e908";
$icon-nav: "\e909";
$icon-users: "\e910";

