$icon-info: "\e90d";
$icon-filter: "\e90b";
$icon-menu: "\e9bd";
$icon-arrow-right: "\ea34";
$icon-phone: "\e909";
$icon-mail: "\e90a";
$icon-home: "\e90f";
$icon-pinterest-circular: "\e908";
$icon-flickr: "\e900";
$icon-pinterest: "\e901";
$icon-tumbler: "\e903";
$icon-vimeo: "\e904";
$icon-dribbble: "\e905";
$icon-facebook: "\e906";  
$icon-twitter: "\e907";
