.table {
    margin-top: 24px;
    width: 100%;
    text-align: left;
    
    tr > th, 
    tr > td {
        width: 20%;
        padding: 20px 0;
        padding-left: 10px;
        padding-right: 10px;
        display: inline-block;
        & > span {
            @include ofl-ellipsis;
            display: block;
            max-width: 100%;
        }
    }
}

