button {
    &:hover {
        cursor: pointer;
        opacity: $opacity-primary;
    }
}

.btn-secondary {
    padding: 8px 25px;
    text-transform: lowercase;
    font-size: 0.875em;
    font-family: $font-secondary;
    color: $color-primary;
    background-color: $color-light;
    border: 2px solid $color-primary;
    border-radius: $br-md;
}