.btn-primary {
    font-size: 1.75em;
    padding: 10px 15px;
    color: $color-light;
    background-color: $color-primary;
    height: 52px;
    &:hover {
        cursor: pointer;
        color: $color-custom;
    }
}

.btn-secondary {
    padding: 8px 25px;
    font-size: 0.875em;
    font-family: $font-secondary;
    text-transform: lowercase;
    border: 1px solid #0788C8;
    color: #0788C8;
    background-color: #fff;
    border-radius: $br-md;
    &:hover {
        cursor: pointer;
    }
}