button {
    transition: $trns-duration-sm;
    &:hover {
        cursor: pointer;
        opacity: $opacity-primary;
    }
}

.btn-primary {
    @include ofl-ellipsis;
    padding: 12px 25px;
    max-width: 185px;
    font-size: 1em;
    text-transform: lowercase;
    font-family: $font-secondary;
    color: $color-light;
    background-color: map-get($btn-colors, primary);
    border: $br-none;
    border-radius: $br-default;
    animation: null $anim-duration-md null null infinite alternate forwards;
    animation-name: btn-primary-shadow;
}

.btn-secondary {
    @include ofl-ellipsis;
    padding: 8px 25px;
    max-width: 185px;
    font-size: 0.875em;
    text-transform: lowercase;
    font-family: $font-secondary;
    color: map-get($btn-colors, secondary);
    background-color: $color-light;
    border: 2px solid map-get($btn-colors, secondary);
    border-radius: $br-md;
}

.btn-tertiary {
    @include ofl-ellipsis;
    padding: 5px 20px;
    max-height: 25px;
    text-transform: capitalize;
    font-size: 0.75em;
    font-family: $font-secondary;
    border: $br-none;
    border-radius: $br-model;
    color: $color-light;
    background-color: map-get($btn-colors, tertiary);
}

.btn-default {
    @include ofl-ellipsis;
    padding: 10px 35px;
    max-width: 220px;
    font-size: 0.875em;
    text-transform: capitalize;
    font-family: $font-secondary;
    color: $color-text-primary;
    background-color: $color-light;
    border: $br-none;
    box-shadow: $box-shadow-primary;
    border-radius: $br-default;
}

.btn-active {
    background-color: map-get($btn-colors, active);
    color: $color-light;
    &:hover {
        opacity: $opacity-default;
        cursor: default;
    }
}

.btn-clear {
    //all: unset;
    background: unset;
    border: unset;
    padding: unset;
    &:hover {
        cursor: pointer;
        opacity: $opacity-primary;
    }
}


