.field-primary {
    padding: 10px 5px;
    border: 2px solid #0788C8;
    border-radius: $br-default;
    color: #0788C8;
    
    &::placeholder {
        @extend .text-capitalize;
        color: #0788C8;
    }
}
