//floats
@each $key,$val in $resolutions {
  @media (min-width: $val) {
    // Alignment
    .float-#{$key}-left {
      float: left;
    }
    .float#{$key}-right {
      float: right;
    }
  }
}

//fixes
.clear-after {
  @include clear-after;
}

// item to center
.centered-axis-xy {
  @include position(50%, null, null, 50%);
  transform: translate(-50%, -50%);
}

.mark-top {
  @include position(null, null, 5px, 10px);
  font-size: 14px;
  padding: 1px 5px 3px 6px;
  border-radius: $br-rounded;
  color: $color-light;
  background-color: $color-bg-secondary;
}

