// item align to center
.centered-axis-xy {
    @include position(50%, null, null, 50%);
    transform: translate(-50%, -50%);
}

// Main container
.container {
    width: 100%;
    max-width: ($cont-width + $cont-padding);
    margin-left: auto;
    margin-right: auto;
}

// Section container
.sect-cont {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}

// Container for inner sections
.inner-cont {
    width: 100%;
    padding-left: 105px;
    padding-right: 105px;
}

// Rounded mark for icons...
.mark-top {
    @include position(null, null, 10px, 15px);
    font-size: 14px;
    padding: 2px 5px 3px 6px;
    border-radius: $br-rounded;
    color: $color-light;
    background-color: $color-bg-secondary;
}

.active {
    color: $color-text-primary;
    cursor: default;
    &:hover {
      opacity: $opacity-default;
    }
}

// Floats
@each $key,$val in $resolutions {
  @media (min-width: $val) {
      // Alignment
      .float-#{$key}-left {
          float: left;
      }
      .float#{$key}-right {
          float: right;
      }
  }
}

// Float fixes
.clear-after {
  @include clear-after;
}