aside {
    position: relative;
    max-width: 240px;
    min-width: 240px;
    min-height: 100vh;
    box-shadow: $box-shadow-secondary;
    background-color: $color-light;
    transition: transform $trns-duration-md;
    & > nav {
        padding-left: 35px;
    }
}

.nav-list {
    font-size: 1em;
    text-transform: capitalize;
    font-family: $font-secondary;
    color: $color-text-primary;
    & > li {
        padding-bottom: 30px;
        & > a {
            color: rgba($color-text-primary, $opacity-secondary);
            &.active {
                color: $color-text-primary;
            }
            & > i {
                font-size: 1.5em;
                padding-right: 20px;
            }
        }
    }
}

.nav-close-btn {
    display: none;
}

.moving-bat {
    max-width: 24px;
    max-height: 24px;
    animation: null $anim-duration-lg null null infinite alternate forwards; 

    &.left {
        @include position(0, null, null, 0);
        animation-name: bat-left-move;
    }

    &.right {
        @include position(0, 0);
        animation-name: bat-right-move;
    }

    &.central {
        @include position(0, null, null, 50%);
        transform: translateX(-50%);
        animation-name: bat-central-move;
    }

    &:hover {
        animation-play-state: paused;
    }
}


.mov-bat-cont {
    height: 100%;
    display: block;
    position: absolute;
}

