.db-cards {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.db-card {
    width: 23.75%;
    margin-bottom: 24px;
    background-color: $color-light;
    box-shadow: 0px 0px 10px #aaaaaa;
    border-radius: 10px;

    &:hover {
        box-shadow: 10px 10px 10px #aaaaaa;
    }
}

.card-major {
    display: flex;
}

.card-head-title {
    @include ofl-ellipsis;
    font-size: 21px;
    font-family: $font-tertiary;
}

.card-title {
    @include ofl-ellipsis;
    text-transform: capitalize;
}

.card-desc {
    @include ofl-ellipsis;
    display: block;
    font-size: 14px;
    font-family: $font-primary;
    opacity: 0.7;
    padding-top: 5px;
    text-transform: capitalize;
}

.card-top {
    margin-top: 32px;
    padding-left: 28px;
    padding-right: 20px;
}

.card-list-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    & > ul {
        & > li {
            padding-top: 30px;
        }
    }
}

.card-list {
    margin-top: 32px;
    padding-left: 28px;
    padding-right: 15px;
    position: relative;
    & > li {
        padding-bottom: 30px;
        &:first-of-type {
            width: calc-val(40);
        }
        &:last-of-type {
            width: calc-val(110);
        }
    }
}

.btn-del {
    position: absolute;
    top: -15px;
    right: 15px;
    height: 24px;
    font-size: 24px;
    color: #EAEBEC;
    &:hover {
        color: $color-text-primary;
        opacity: 1;
    }
}

.card-issue-wrapper {
    display: block;
    position: absolute;
    right: 30px;
    bottom: 20px;
    text-align: center;
    .card-issue-count {
        padding: 14px 19px;
        background-color: #F0F2F2;
        border-radius: 50%;
        font-size: 16px;
        font-family: $font-secondary;
    }
    .card-issue-text {
        padding-top: 15px;
    }
    &:hover {
        cursor: pointer;
    }
}

.btn-review {
    background-color: #31B67F;
    border: none;
    border-radius: 12px;
    font-size: 12px;
    font-family: $font-secondary;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 22px;
    max-height: 25px;
}

.card-diff {
    padding-top: 20px;
    padding-left: 28px;
    padding-right: 20px;
    padding-bottom: 20px;
    background-color: #F4F6F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & > div {
        width: calc-val(110);
    }
}

