.db-cards {
    @include dsp-flex(wrap, space-between);
    margin-top: 24px;
}

.db-card {
    width: 23.77%;
    margin-bottom: 24px;
    background-color: $color-light;
    box-shadow: $box-shadow-tertiary;
    border-radius: $br-md;
    &:hover {
        box-shadow: $box-shadow-tertiary-hover;
    }
}

.card-major {
    @include dsp-flex;
}

.card-head-title {
    @include ofl-ellipsis;
    font-size: 1.3125em;
    font-family: $font-tertiary;
}

.card-title {
    @include ofl-ellipsis;
    text-transform: capitalize;
}

.card-desc {
    @include ofl-ellipsis;
    display: block;
    padding-top: 5px;
    text-transform: capitalize;
    font-size: 0.875em;
    font-family: $font-primary;
    opacity: $opacity-primary;
}

.card-top {
    margin-top: 32px;
    padding-left: 28px;
    padding-right: 20px;
}

.card-list-wrapper {
    @include dsp-flex(null, space-between, flex-end);
    & > ul > li{
        padding-top: 30px;
    }
}

.card-list {
    position: relative;
    margin-top: 32px;
    padding-left: 28px;
    padding-right: 15px;
    & > li {
        padding-bottom: 30px;
        &:first-of-type {
            width: calc-val(40);
        }
        &:last-of-type {
            width: calc-val(110);
        }
    }
}

.btn-del {
    @include position(-15px, 15px);
    height: 24px;
    font-size: 1.5em;
    color: $color-icon-primary;
    &:hover {
        color: $color-text-primary;
        opacity: $opacity-default;
    }
}

.card-issue-link {
    @include position(null, 30px, 20px);
    display: block;
    text-align: center;
    &:hover {
        cursor: pointer;
    }
}

.card-issue-count {
    display: inline-block;
    padding: 5px;
    width: 48px;
    height: 48px;
    line-height: 38px;
    font-size: 1em;
    font-family: $font-secondary;
    background-color: $color-bg-primary;
    border-radius: $br-rounded;
}

.card-issue-text {
    padding-top: 15px;
}

.card-diff {
    @include dsp-flex(null, space-between, center);
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 28px;
    background-color: $color-bg-primary;
    & > div {
        width: calc-val(100);
    }
}

