.db-filter {
    @include dsp-flex(null, space-between, center);
    margin-top: 30px;
 }
 
 .db-filter-list {
    @include dsp-flex(null, space-between, center);
    & > li > button {
        margin-right: 16px;
    }
 }
 
 .db-sort-btn {
    text-transform: capitalize;
    font-size: 0.875em;
    font-family: $font-secondary;
    color: $color-text-primary;
    & > span {
        padding-right: 20px;
        color: rgba($color-text-primary, $opacity-secondary);
     }
    & > i {
        font-size: 1.125em;
        color: $color-dark;
    }
 }
 
 