.db-tab {
    @include dsp-flex(null, space-between, null, center);
}

.db-rev-list {
    @include dsp-flex(null, null, null, baseline);
    text-transform: uppercase;
    font-size: 1.125em;
    font-family: $font-secondary;
    color: $color-text-secondary;

    & > li {
        padding-right: 25px;
        & > a {
            &::before {
                content: "|";
                padding-right: 25px;
                font-family: none;
            }
            &.active {
                position: relative;
                font-family: $font-tertiary;
                &::before {
                    content: "";
                    @include position(-10px);
                    width: 38px;
                    height: 4px;
                    background-color: $color-bg-line;
                }
            }
        }
    }
}
