@charset "UTF-8";
@font-face {
  font-family: "icomoon-kodeist";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/icomoon-kodeist/icomoon-kodeist.eot");
  src: url("../assets/fonts/icomoon-kodeist/icomoon-kodeist.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/icomoon-kodeist/icomoon-kodeist.woff") format("woff"), url("../assets/fonts/icomoon-kodeist/icomoon-kodeist.ttf") format("truetype"), url("../assets/fonts/icomoon-kodeist/icomoon-kodeist.svg") format("svg");
}
@font-face {
  font-family: "Worksans-medium";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/work-sans/worksans-medium/Worksans-medium.eot");
  src: url("../assets/fonts/work-sans/worksans-medium/Worksans-medium.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/work-sans/worksans-medium/Worksans-medium.woff") format("woff"), url("../assets/fonts/work-sans/worksans-medium/Worksans-medium.ttf") format("truetype"), url("../assets/fonts/work-sans/worksans-medium/Worksans-medium.svg") format("svg");
}
@font-face {
  font-family: "Worksans-semibold";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/work-sans/worksans-semibold/Worksans-semibold.eot");
  src: url("../assets/fonts/work-sans/worksans-semibold/Worksans-semibold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/work-sans/worksans-semibold/Worksans-semibold.woff") format("woff"), url("../assets/fonts/work-sans/worksans-semibold/Worksans-semibold.ttf") format("truetype"), url("../assets/fonts/work-sans/worksans-semibold/Worksans-semibold.svg") format("svg");
}
@font-face {
  font-family: "Worksans-bold";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/work-sans/worksans-bold/Worksans-bold.eot");
  src: url("../assets/fonts/work-sans/worksans-bold/Worksans-bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/work-sans/worksans-bold/Worksans-bold.woff") format("woff"), url("../assets/fonts/work-sans/worksans-bold/Worksans-bold.ttf") format("truetype"), url("../assets/fonts/work-sans/worksans-bold/Worksans-bold.svg") format("svg");
}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article, aside, details, figcaption, figure, dialog,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

a {
  text-decoration: none;
  font-size: 100%;
  color: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  position: relative;
  min-height: 100%;
  box-sizing: border-box;
}

body {
  color: #1E272E;
  font-size: 16px;
  font-family: "Worksans-medium", serif;
  outline: none;
  word-wrap: break-word;
  font-weight: 400;
}

*, *:before, *:after {
  outline: none;
  box-sizing: inherit;
}

a:hover {
  opacity: 0.7;
}

[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon-kodeist" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-archive:before {
  content: "";
}

.icon-dashboard:before {
  content: "";
}

.icon-delete:before {
  content: "";
}

.icon-notification:before {
  content: "";
}

.icon-settings:before {
  content: "";
}

.icon-statistics:before {
  content: "";
}

.icon-plus:before {
  content: "";
}

.icon-arrow-top:before {
  content: "";
}

header {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.hdr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 105px;
  padding-left: 35px;
}
.hdr.inner-cont {
  padding-left: 35px;
}

.hdr-list {
  display: flex;
  align-items: flex-end;
  color: #B2B2B2;
}
.hdr-list > li {
  margin-left: 30px;
}
.hdr-list > li > a > i {
  position: relative;
  display: inline-block;
  font-size: 1.4em;
}

.hdr-btn-wrapper {
  margin-right: 10px;
}

.logo {
  display: block;
  max-width: 160px;
  max-height: 30px;
}

main {
  background-color: #F4F6F6;
}

.main {
  display: flex;
}

aside {
  max-width: 240px;
  min-width: 240px;
  min-height: 100vh;
  box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
aside > nav {
  padding-left: 35px;
}

.nav-list {
  font-size: 1em;
  text-transform: capitalize;
  font-family: "Worksans-semibold", serif;
  color: #1E272E;
}
.nav-list > li {
  padding-bottom: 30px;
}
.nav-list > li > a {
  color: rgba(30, 39, 46, 0.5);
}
.nav-list > li > a.active {
  color: #1E272E;
}
.nav-list > li > a > i {
  font-size: 1.5em;
  padding-right: 20px;
}

.db-tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.db-rev-list {
  display: flex;
  align-items: baseline;
  text-transform: uppercase;
  font-size: 1.125em;
  font-family: "Worksans-semibold", serif;
  color: #1E272E;
}
.db-rev-list > li {
  padding-right: 25px;
}
.db-rev-list > li > a {
  color: rgba(30, 39, 46, 0.5);
}
.db-rev-list > li > a::before {
  content: "|";
  padding-right: 25px;
  font-family: none;
}
.db-rev-list > li > a.active {
  position: relative;
  font-family: "Worksans-bold", serif;
  color: #1E272E;
}
.db-rev-list > li > a.active::before {
  content: "";
  position: absolute;
  top: -10px;
  width: 38px;
  height: 4px;
  background-color: #169CDF;
}

.db-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.db-filter-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.db-filter-list > li > button {
  margin-right: 16px;
}

.db-sort-btn {
  text-transform: capitalize;
  font-size: 0.875em;
  font-family: "Worksans-semibold", serif;
  color: #1E272E;
}
.db-sort-btn > span {
  padding-right: 20px;
  color: rgba(30, 39, 46, 0.5);
}
.db-sort-btn > i {
  font-size: 1.125em;
  color: #000;
}

.db-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 24px;
}

.db-card {
  width: 23.77%;
  margin-bottom: 24px;
  background-color: #fff;
  box-shadow: 0px 0px 10px #aaaaaa;
  border-radius: 10px;
}
.db-card:hover {
  box-shadow: 5px 10px 10px #aaaaaa;
}

.card-major {
  display: flex;
}

.card-head-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.3125em;
  font-family: "Worksans-bold", serif;
}

.card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
}

.card-desc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  padding-top: 5px;
  text-transform: capitalize;
  font-size: 14px;
  font-family: "Worksans-medium", serif;
  opacity: 0.7;
}

.card-top {
  margin-top: 32px;
  padding-left: 28px;
  padding-right: 20px;
}

.card-list-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.card-list-wrapper > ul > li {
  padding-top: 30px;
}

.card-list {
  position: relative;
  margin-top: 32px;
  padding-left: 28px;
  padding-right: 15px;
}
.card-list > li {
  padding-bottom: 30px;
}
.card-list > li:first-of-type {
  width: calc(100% - 40px);
}
.card-list > li:last-of-type {
  width: calc(100% - 110px);
}

.btn-del {
  position: absolute;
  top: -15px;
  right: 15px;
  height: 24px;
  font-size: 1.5em;
  color: #EAEBEC;
}
.btn-del:hover {
  color: #1E272E;
  opacity: 1;
}

.card-issue-link {
  position: absolute;
  right: 30px;
  bottom: 20px;
  display: block;
  text-align: center;
}
.card-issue-link:hover {
  cursor: pointer;
}

.card-issue-count {
  display: inline-block;
  padding: 5px;
  width: 48px;
  height: 48px;
  line-height: 38px;
  font-size: 1em;
  font-family: "Worksans-semibold", serif;
  background-color: #F4F6F6;
  border-radius: 50%;
}

.card-issue-text {
  padding-top: 15px;
}

.card-diff {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 28px;
  background-color: #F4F6F6;
}
.card-diff > div {
  width: calc(100% - 100px);
}

footer {
  box-shadow: 0px 0px 10px #aaaaaa;
  background-color: #fff;
}

.ftr-content-wrap {
  font-size: 1em;
  text-transform: capitalize;
  justify-content: center;
}
.ftr-content-wrap > img {
  padding-right: 20px;
  max-width: 60px;
  max-height: 60px;
}

@media (min-width: 1440px) {
  .cols-xl-12 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-xl-12 > [class^=col]:not(.ml-0), .cols-xl-12 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-xl-12 > [class^=col], .cols-xl-12 > [class*=" col"] {
    width: calc(8.3333333333% - 9.1666666667px);
  }
  .cols-xl-12 > [class^=col]:nth-child(12n+1), .cols-xl-12 > [class*=" col"]:nth-child(12n+1) {
    margin-left: 0;
  }

  .cols-xl-11 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-xl-11 > [class^=col]:not(.ml-0), .cols-xl-11 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-xl-11 > [class^=col], .cols-xl-11 > [class*=" col"] {
    width: calc(9.0909090909% - 9.0909090909px);
  }
  .cols-xl-11 > [class^=col]:nth-child(11n+1), .cols-xl-11 > [class*=" col"]:nth-child(11n+1) {
    margin-left: 0;
  }

  .cols-xl-10 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-xl-10 > [class^=col]:not(.ml-0), .cols-xl-10 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-xl-10 > [class^=col], .cols-xl-10 > [class*=" col"] {
    width: calc(10% - 9px);
  }
  .cols-xl-10 > [class^=col]:nth-child(10n+1), .cols-xl-10 > [class*=" col"]:nth-child(10n+1) {
    margin-left: 0;
  }

  .cols-xl-9 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-xl-9 > [class^=col]:not(.ml-0), .cols-xl-9 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-xl-9 > [class^=col], .cols-xl-9 > [class*=" col"] {
    width: calc(11.1111111111% - 8.8888888889px);
  }
  .cols-xl-9 > [class^=col]:nth-child(9n+1), .cols-xl-9 > [class*=" col"]:nth-child(9n+1) {
    margin-left: 0;
  }

  .cols-xl-8 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-xl-8 > [class^=col]:not(.ml-0), .cols-xl-8 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-xl-8 > [class^=col], .cols-xl-8 > [class*=" col"] {
    width: calc(12.5% - 8.75px);
  }
  .cols-xl-8 > [class^=col]:nth-child(8n+1), .cols-xl-8 > [class*=" col"]:nth-child(8n+1) {
    margin-left: 0;
  }

  .cols-xl-7 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-xl-7 > [class^=col]:not(.ml-0), .cols-xl-7 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-xl-7 > [class^=col], .cols-xl-7 > [class*=" col"] {
    width: calc(14.2857142857% - 8.5714285714px);
  }
  .cols-xl-7 > [class^=col]:nth-child(7n+1), .cols-xl-7 > [class*=" col"]:nth-child(7n+1) {
    margin-left: 0;
  }

  .cols-xl-6 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-xl-6 > [class^=col]:not(.ml-0), .cols-xl-6 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-xl-6 > [class^=col], .cols-xl-6 > [class*=" col"] {
    width: calc(16.6666666667% - 8.3333333333px);
  }
  .cols-xl-6 > [class^=col]:nth-child(6n+1), .cols-xl-6 > [class*=" col"]:nth-child(6n+1) {
    margin-left: 0;
  }

  .cols-xl-5 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-xl-5 > [class^=col]:not(.ml-0), .cols-xl-5 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-xl-5 > [class^=col], .cols-xl-5 > [class*=" col"] {
    width: calc(20% - 8px);
  }
  .cols-xl-5 > [class^=col]:nth-child(5n+1), .cols-xl-5 > [class*=" col"]:nth-child(5n+1) {
    margin-left: 0;
  }

  .cols-xl-4 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-xl-4 > [class^=col]:not(.ml-0), .cols-xl-4 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-xl-4 > [class^=col], .cols-xl-4 > [class*=" col"] {
    width: calc(25% - 7.5px);
  }
  .cols-xl-4 > [class^=col]:nth-child(4n+1), .cols-xl-4 > [class*=" col"]:nth-child(4n+1) {
    margin-left: 0;
  }

  .cols-xl-3 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-xl-3 > [class^=col]:not(.ml-0), .cols-xl-3 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-xl-3 > [class^=col], .cols-xl-3 > [class*=" col"] {
    width: calc(33.3333333333% - 6.6666666667px);
  }
  .cols-xl-3 > [class^=col]:nth-child(3n+1), .cols-xl-3 > [class*=" col"]:nth-child(3n+1) {
    margin-left: 0;
  }

  .cols-xl-2 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-xl-2 > [class^=col]:not(.ml-0), .cols-xl-2 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-xl-2 > [class^=col], .cols-xl-2 > [class*=" col"] {
    width: calc(50% - 5px);
  }
  .cols-xl-2 > [class^=col]:nth-child(2n+1), .cols-xl-2 > [class*=" col"]:nth-child(2n+1) {
    margin-left: 0;
  }
}
@media (min-width: 1280px) {
  .cols-lg-12 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-lg-12 > [class^=col]:not(.ml-0), .cols-lg-12 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-lg-12 > [class^=col], .cols-lg-12 > [class*=" col"] {
    width: calc(8.3333333333% - 9.1666666667px);
  }
  .cols-lg-12 > [class^=col]:nth-child(12n+1), .cols-lg-12 > [class*=" col"]:nth-child(12n+1) {
    margin-left: 0;
  }

  .cols-lg-11 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-lg-11 > [class^=col]:not(.ml-0), .cols-lg-11 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-lg-11 > [class^=col], .cols-lg-11 > [class*=" col"] {
    width: calc(9.0909090909% - 9.0909090909px);
  }
  .cols-lg-11 > [class^=col]:nth-child(11n+1), .cols-lg-11 > [class*=" col"]:nth-child(11n+1) {
    margin-left: 0;
  }

  .cols-lg-10 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-lg-10 > [class^=col]:not(.ml-0), .cols-lg-10 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-lg-10 > [class^=col], .cols-lg-10 > [class*=" col"] {
    width: calc(10% - 9px);
  }
  .cols-lg-10 > [class^=col]:nth-child(10n+1), .cols-lg-10 > [class*=" col"]:nth-child(10n+1) {
    margin-left: 0;
  }

  .cols-lg-9 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-lg-9 > [class^=col]:not(.ml-0), .cols-lg-9 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-lg-9 > [class^=col], .cols-lg-9 > [class*=" col"] {
    width: calc(11.1111111111% - 8.8888888889px);
  }
  .cols-lg-9 > [class^=col]:nth-child(9n+1), .cols-lg-9 > [class*=" col"]:nth-child(9n+1) {
    margin-left: 0;
  }

  .cols-lg-8 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-lg-8 > [class^=col]:not(.ml-0), .cols-lg-8 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-lg-8 > [class^=col], .cols-lg-8 > [class*=" col"] {
    width: calc(12.5% - 8.75px);
  }
  .cols-lg-8 > [class^=col]:nth-child(8n+1), .cols-lg-8 > [class*=" col"]:nth-child(8n+1) {
    margin-left: 0;
  }

  .cols-lg-7 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-lg-7 > [class^=col]:not(.ml-0), .cols-lg-7 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-lg-7 > [class^=col], .cols-lg-7 > [class*=" col"] {
    width: calc(14.2857142857% - 8.5714285714px);
  }
  .cols-lg-7 > [class^=col]:nth-child(7n+1), .cols-lg-7 > [class*=" col"]:nth-child(7n+1) {
    margin-left: 0;
  }

  .cols-lg-6 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-lg-6 > [class^=col]:not(.ml-0), .cols-lg-6 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-lg-6 > [class^=col], .cols-lg-6 > [class*=" col"] {
    width: calc(16.6666666667% - 8.3333333333px);
  }
  .cols-lg-6 > [class^=col]:nth-child(6n+1), .cols-lg-6 > [class*=" col"]:nth-child(6n+1) {
    margin-left: 0;
  }

  .cols-lg-5 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-lg-5 > [class^=col]:not(.ml-0), .cols-lg-5 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-lg-5 > [class^=col], .cols-lg-5 > [class*=" col"] {
    width: calc(20% - 8px);
  }
  .cols-lg-5 > [class^=col]:nth-child(5n+1), .cols-lg-5 > [class*=" col"]:nth-child(5n+1) {
    margin-left: 0;
  }

  .cols-lg-4 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-lg-4 > [class^=col]:not(.ml-0), .cols-lg-4 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-lg-4 > [class^=col], .cols-lg-4 > [class*=" col"] {
    width: calc(25% - 7.5px);
  }
  .cols-lg-4 > [class^=col]:nth-child(4n+1), .cols-lg-4 > [class*=" col"]:nth-child(4n+1) {
    margin-left: 0;
  }

  .cols-lg-3 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-lg-3 > [class^=col]:not(.ml-0), .cols-lg-3 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-lg-3 > [class^=col], .cols-lg-3 > [class*=" col"] {
    width: calc(33.3333333333% - 6.6666666667px);
  }
  .cols-lg-3 > [class^=col]:nth-child(3n+1), .cols-lg-3 > [class*=" col"]:nth-child(3n+1) {
    margin-left: 0;
  }

  .cols-lg-2 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-lg-2 > [class^=col]:not(.ml-0), .cols-lg-2 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-lg-2 > [class^=col], .cols-lg-2 > [class*=" col"] {
    width: calc(50% - 5px);
  }
  .cols-lg-2 > [class^=col]:nth-child(2n+1), .cols-lg-2 > [class*=" col"]:nth-child(2n+1) {
    margin-left: 0;
  }
}
@media (min-width: 1024px) {
  .cols-md-12 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-md-12 > [class^=col]:not(.ml-0), .cols-md-12 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-md-12 > [class^=col], .cols-md-12 > [class*=" col"] {
    width: calc(8.3333333333% - 9.1666666667px);
  }
  .cols-md-12 > [class^=col]:nth-child(12n+1), .cols-md-12 > [class*=" col"]:nth-child(12n+1) {
    margin-left: 0;
  }

  .cols-md-11 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-md-11 > [class^=col]:not(.ml-0), .cols-md-11 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-md-11 > [class^=col], .cols-md-11 > [class*=" col"] {
    width: calc(9.0909090909% - 9.0909090909px);
  }
  .cols-md-11 > [class^=col]:nth-child(11n+1), .cols-md-11 > [class*=" col"]:nth-child(11n+1) {
    margin-left: 0;
  }

  .cols-md-10 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-md-10 > [class^=col]:not(.ml-0), .cols-md-10 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-md-10 > [class^=col], .cols-md-10 > [class*=" col"] {
    width: calc(10% - 9px);
  }
  .cols-md-10 > [class^=col]:nth-child(10n+1), .cols-md-10 > [class*=" col"]:nth-child(10n+1) {
    margin-left: 0;
  }

  .cols-md-9 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-md-9 > [class^=col]:not(.ml-0), .cols-md-9 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-md-9 > [class^=col], .cols-md-9 > [class*=" col"] {
    width: calc(11.1111111111% - 8.8888888889px);
  }
  .cols-md-9 > [class^=col]:nth-child(9n+1), .cols-md-9 > [class*=" col"]:nth-child(9n+1) {
    margin-left: 0;
  }

  .cols-md-8 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-md-8 > [class^=col]:not(.ml-0), .cols-md-8 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-md-8 > [class^=col], .cols-md-8 > [class*=" col"] {
    width: calc(12.5% - 8.75px);
  }
  .cols-md-8 > [class^=col]:nth-child(8n+1), .cols-md-8 > [class*=" col"]:nth-child(8n+1) {
    margin-left: 0;
  }

  .cols-md-7 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-md-7 > [class^=col]:not(.ml-0), .cols-md-7 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-md-7 > [class^=col], .cols-md-7 > [class*=" col"] {
    width: calc(14.2857142857% - 8.5714285714px);
  }
  .cols-md-7 > [class^=col]:nth-child(7n+1), .cols-md-7 > [class*=" col"]:nth-child(7n+1) {
    margin-left: 0;
  }

  .cols-md-6 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-md-6 > [class^=col]:not(.ml-0), .cols-md-6 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-md-6 > [class^=col], .cols-md-6 > [class*=" col"] {
    width: calc(16.6666666667% - 8.3333333333px);
  }
  .cols-md-6 > [class^=col]:nth-child(6n+1), .cols-md-6 > [class*=" col"]:nth-child(6n+1) {
    margin-left: 0;
  }

  .cols-md-5 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-md-5 > [class^=col]:not(.ml-0), .cols-md-5 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-md-5 > [class^=col], .cols-md-5 > [class*=" col"] {
    width: calc(20% - 8px);
  }
  .cols-md-5 > [class^=col]:nth-child(5n+1), .cols-md-5 > [class*=" col"]:nth-child(5n+1) {
    margin-left: 0;
  }

  .cols-md-4 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-md-4 > [class^=col]:not(.ml-0), .cols-md-4 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-md-4 > [class^=col], .cols-md-4 > [class*=" col"] {
    width: calc(25% - 7.5px);
  }
  .cols-md-4 > [class^=col]:nth-child(4n+1), .cols-md-4 > [class*=" col"]:nth-child(4n+1) {
    margin-left: 0;
  }

  .cols-md-3 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-md-3 > [class^=col]:not(.ml-0), .cols-md-3 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-md-3 > [class^=col], .cols-md-3 > [class*=" col"] {
    width: calc(33.3333333333% - 6.6666666667px);
  }
  .cols-md-3 > [class^=col]:nth-child(3n+1), .cols-md-3 > [class*=" col"]:nth-child(3n+1) {
    margin-left: 0;
  }

  .cols-md-2 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-md-2 > [class^=col]:not(.ml-0), .cols-md-2 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-md-2 > [class^=col], .cols-md-2 > [class*=" col"] {
    width: calc(50% - 5px);
  }
  .cols-md-2 > [class^=col]:nth-child(2n+1), .cols-md-2 > [class*=" col"]:nth-child(2n+1) {
    margin-left: 0;
  }
}
@media (min-width: 768px) {
  .cols-sm-12 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-sm-12 > [class^=col]:not(.ml-0), .cols-sm-12 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-sm-12 > [class^=col], .cols-sm-12 > [class*=" col"] {
    width: calc(8.3333333333% - 9.1666666667px);
  }
  .cols-sm-12 > [class^=col]:nth-child(12n+1), .cols-sm-12 > [class*=" col"]:nth-child(12n+1) {
    margin-left: 0;
  }

  .cols-sm-11 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-sm-11 > [class^=col]:not(.ml-0), .cols-sm-11 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-sm-11 > [class^=col], .cols-sm-11 > [class*=" col"] {
    width: calc(9.0909090909% - 9.0909090909px);
  }
  .cols-sm-11 > [class^=col]:nth-child(11n+1), .cols-sm-11 > [class*=" col"]:nth-child(11n+1) {
    margin-left: 0;
  }

  .cols-sm-10 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-sm-10 > [class^=col]:not(.ml-0), .cols-sm-10 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-sm-10 > [class^=col], .cols-sm-10 > [class*=" col"] {
    width: calc(10% - 9px);
  }
  .cols-sm-10 > [class^=col]:nth-child(10n+1), .cols-sm-10 > [class*=" col"]:nth-child(10n+1) {
    margin-left: 0;
  }

  .cols-sm-9 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-sm-9 > [class^=col]:not(.ml-0), .cols-sm-9 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-sm-9 > [class^=col], .cols-sm-9 > [class*=" col"] {
    width: calc(11.1111111111% - 8.8888888889px);
  }
  .cols-sm-9 > [class^=col]:nth-child(9n+1), .cols-sm-9 > [class*=" col"]:nth-child(9n+1) {
    margin-left: 0;
  }

  .cols-sm-8 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-sm-8 > [class^=col]:not(.ml-0), .cols-sm-8 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-sm-8 > [class^=col], .cols-sm-8 > [class*=" col"] {
    width: calc(12.5% - 8.75px);
  }
  .cols-sm-8 > [class^=col]:nth-child(8n+1), .cols-sm-8 > [class*=" col"]:nth-child(8n+1) {
    margin-left: 0;
  }

  .cols-sm-7 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-sm-7 > [class^=col]:not(.ml-0), .cols-sm-7 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-sm-7 > [class^=col], .cols-sm-7 > [class*=" col"] {
    width: calc(14.2857142857% - 8.5714285714px);
  }
  .cols-sm-7 > [class^=col]:nth-child(7n+1), .cols-sm-7 > [class*=" col"]:nth-child(7n+1) {
    margin-left: 0;
  }

  .cols-sm-6 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-sm-6 > [class^=col]:not(.ml-0), .cols-sm-6 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-sm-6 > [class^=col], .cols-sm-6 > [class*=" col"] {
    width: calc(16.6666666667% - 8.3333333333px);
  }
  .cols-sm-6 > [class^=col]:nth-child(6n+1), .cols-sm-6 > [class*=" col"]:nth-child(6n+1) {
    margin-left: 0;
  }

  .cols-sm-5 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-sm-5 > [class^=col]:not(.ml-0), .cols-sm-5 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-sm-5 > [class^=col], .cols-sm-5 > [class*=" col"] {
    width: calc(20% - 8px);
  }
  .cols-sm-5 > [class^=col]:nth-child(5n+1), .cols-sm-5 > [class*=" col"]:nth-child(5n+1) {
    margin-left: 0;
  }

  .cols-sm-4 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-sm-4 > [class^=col]:not(.ml-0), .cols-sm-4 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-sm-4 > [class^=col], .cols-sm-4 > [class*=" col"] {
    width: calc(25% - 7.5px);
  }
  .cols-sm-4 > [class^=col]:nth-child(4n+1), .cols-sm-4 > [class*=" col"]:nth-child(4n+1) {
    margin-left: 0;
  }

  .cols-sm-3 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-sm-3 > [class^=col]:not(.ml-0), .cols-sm-3 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-sm-3 > [class^=col], .cols-sm-3 > [class*=" col"] {
    width: calc(33.3333333333% - 6.6666666667px);
  }
  .cols-sm-3 > [class^=col]:nth-child(3n+1), .cols-sm-3 > [class*=" col"]:nth-child(3n+1) {
    margin-left: 0;
  }

  .cols-sm-2 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-sm-2 > [class^=col]:not(.ml-0), .cols-sm-2 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-sm-2 > [class^=col], .cols-sm-2 > [class*=" col"] {
    width: calc(50% - 5px);
  }
  .cols-sm-2 > [class^=col]:nth-child(2n+1), .cols-sm-2 > [class*=" col"]:nth-child(2n+1) {
    margin-left: 0;
  }
}
@media (min-width: 480px) {
  .cols-xs-12 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-xs-12 > [class^=col]:not(.ml-0), .cols-xs-12 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-xs-12 > [class^=col], .cols-xs-12 > [class*=" col"] {
    width: calc(8.3333333333% - 9.1666666667px);
  }
  .cols-xs-12 > [class^=col]:nth-child(12n+1), .cols-xs-12 > [class*=" col"]:nth-child(12n+1) {
    margin-left: 0;
  }

  .cols-xs-11 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-xs-11 > [class^=col]:not(.ml-0), .cols-xs-11 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-xs-11 > [class^=col], .cols-xs-11 > [class*=" col"] {
    width: calc(9.0909090909% - 9.0909090909px);
  }
  .cols-xs-11 > [class^=col]:nth-child(11n+1), .cols-xs-11 > [class*=" col"]:nth-child(11n+1) {
    margin-left: 0;
  }

  .cols-xs-10 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-xs-10 > [class^=col]:not(.ml-0), .cols-xs-10 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-xs-10 > [class^=col], .cols-xs-10 > [class*=" col"] {
    width: calc(10% - 9px);
  }
  .cols-xs-10 > [class^=col]:nth-child(10n+1), .cols-xs-10 > [class*=" col"]:nth-child(10n+1) {
    margin-left: 0;
  }

  .cols-xs-9 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-xs-9 > [class^=col]:not(.ml-0), .cols-xs-9 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-xs-9 > [class^=col], .cols-xs-9 > [class*=" col"] {
    width: calc(11.1111111111% - 8.8888888889px);
  }
  .cols-xs-9 > [class^=col]:nth-child(9n+1), .cols-xs-9 > [class*=" col"]:nth-child(9n+1) {
    margin-left: 0;
  }

  .cols-xs-8 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-xs-8 > [class^=col]:not(.ml-0), .cols-xs-8 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-xs-8 > [class^=col], .cols-xs-8 > [class*=" col"] {
    width: calc(12.5% - 8.75px);
  }
  .cols-xs-8 > [class^=col]:nth-child(8n+1), .cols-xs-8 > [class*=" col"]:nth-child(8n+1) {
    margin-left: 0;
  }

  .cols-xs-7 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-xs-7 > [class^=col]:not(.ml-0), .cols-xs-7 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-xs-7 > [class^=col], .cols-xs-7 > [class*=" col"] {
    width: calc(14.2857142857% - 8.5714285714px);
  }
  .cols-xs-7 > [class^=col]:nth-child(7n+1), .cols-xs-7 > [class*=" col"]:nth-child(7n+1) {
    margin-left: 0;
  }

  .cols-xs-6 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-xs-6 > [class^=col]:not(.ml-0), .cols-xs-6 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-xs-6 > [class^=col], .cols-xs-6 > [class*=" col"] {
    width: calc(16.6666666667% - 8.3333333333px);
  }
  .cols-xs-6 > [class^=col]:nth-child(6n+1), .cols-xs-6 > [class*=" col"]:nth-child(6n+1) {
    margin-left: 0;
  }

  .cols-xs-5 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-xs-5 > [class^=col]:not(.ml-0), .cols-xs-5 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-xs-5 > [class^=col], .cols-xs-5 > [class*=" col"] {
    width: calc(20% - 8px);
  }
  .cols-xs-5 > [class^=col]:nth-child(5n+1), .cols-xs-5 > [class*=" col"]:nth-child(5n+1) {
    margin-left: 0;
  }

  .cols-xs-4 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-xs-4 > [class^=col]:not(.ml-0), .cols-xs-4 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-xs-4 > [class^=col], .cols-xs-4 > [class*=" col"] {
    width: calc(25% - 7.5px);
  }
  .cols-xs-4 > [class^=col]:nth-child(4n+1), .cols-xs-4 > [class*=" col"]:nth-child(4n+1) {
    margin-left: 0;
  }

  .cols-xs-3 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-xs-3 > [class^=col]:not(.ml-0), .cols-xs-3 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-xs-3 > [class^=col], .cols-xs-3 > [class*=" col"] {
    width: calc(33.3333333333% - 6.6666666667px);
  }
  .cols-xs-3 > [class^=col]:nth-child(3n+1), .cols-xs-3 > [class*=" col"]:nth-child(3n+1) {
    margin-left: 0;
  }

  .cols-xs-2 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-xs-2 > [class^=col]:not(.ml-0), .cols-xs-2 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-xs-2 > [class^=col], .cols-xs-2 > [class*=" col"] {
    width: calc(50% - 5px);
  }
  .cols-xs-2 > [class^=col]:nth-child(2n+1), .cols-xs-2 > [class*=" col"]:nth-child(2n+1) {
    margin-left: 0;
  }
}
@media (min-width: 360px) {
  .cols-xxs-12 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-xxs-12 > [class^=col]:not(.ml-0), .cols-xxs-12 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-xxs-12 > [class^=col], .cols-xxs-12 > [class*=" col"] {
    width: calc(8.3333333333% - 9.1666666667px);
  }
  .cols-xxs-12 > [class^=col]:nth-child(12n+1), .cols-xxs-12 > [class*=" col"]:nth-child(12n+1) {
    margin-left: 0;
  }

  .cols-xxs-11 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-xxs-11 > [class^=col]:not(.ml-0), .cols-xxs-11 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-xxs-11 > [class^=col], .cols-xxs-11 > [class*=" col"] {
    width: calc(9.0909090909% - 9.0909090909px);
  }
  .cols-xxs-11 > [class^=col]:nth-child(11n+1), .cols-xxs-11 > [class*=" col"]:nth-child(11n+1) {
    margin-left: 0;
  }

  .cols-xxs-10 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-xxs-10 > [class^=col]:not(.ml-0), .cols-xxs-10 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-xxs-10 > [class^=col], .cols-xxs-10 > [class*=" col"] {
    width: calc(10% - 9px);
  }
  .cols-xxs-10 > [class^=col]:nth-child(10n+1), .cols-xxs-10 > [class*=" col"]:nth-child(10n+1) {
    margin-left: 0;
  }

  .cols-xxs-9 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-xxs-9 > [class^=col]:not(.ml-0), .cols-xxs-9 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-xxs-9 > [class^=col], .cols-xxs-9 > [class*=" col"] {
    width: calc(11.1111111111% - 8.8888888889px);
  }
  .cols-xxs-9 > [class^=col]:nth-child(9n+1), .cols-xxs-9 > [class*=" col"]:nth-child(9n+1) {
    margin-left: 0;
  }

  .cols-xxs-8 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-xxs-8 > [class^=col]:not(.ml-0), .cols-xxs-8 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-xxs-8 > [class^=col], .cols-xxs-8 > [class*=" col"] {
    width: calc(12.5% - 8.75px);
  }
  .cols-xxs-8 > [class^=col]:nth-child(8n+1), .cols-xxs-8 > [class*=" col"]:nth-child(8n+1) {
    margin-left: 0;
  }

  .cols-xxs-7 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-xxs-7 > [class^=col]:not(.ml-0), .cols-xxs-7 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-xxs-7 > [class^=col], .cols-xxs-7 > [class*=" col"] {
    width: calc(14.2857142857% - 8.5714285714px);
  }
  .cols-xxs-7 > [class^=col]:nth-child(7n+1), .cols-xxs-7 > [class*=" col"]:nth-child(7n+1) {
    margin-left: 0;
  }

  .cols-xxs-6 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-xxs-6 > [class^=col]:not(.ml-0), .cols-xxs-6 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-xxs-6 > [class^=col], .cols-xxs-6 > [class*=" col"] {
    width: calc(16.6666666667% - 8.3333333333px);
  }
  .cols-xxs-6 > [class^=col]:nth-child(6n+1), .cols-xxs-6 > [class*=" col"]:nth-child(6n+1) {
    margin-left: 0;
  }

  .cols-xxs-5 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-xxs-5 > [class^=col]:not(.ml-0), .cols-xxs-5 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-xxs-5 > [class^=col], .cols-xxs-5 > [class*=" col"] {
    width: calc(20% - 8px);
  }
  .cols-xxs-5 > [class^=col]:nth-child(5n+1), .cols-xxs-5 > [class*=" col"]:nth-child(5n+1) {
    margin-left: 0;
  }

  .cols-xxs-4 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-xxs-4 > [class^=col]:not(.ml-0), .cols-xxs-4 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-xxs-4 > [class^=col], .cols-xxs-4 > [class*=" col"] {
    width: calc(25% - 7.5px);
  }
  .cols-xxs-4 > [class^=col]:nth-child(4n+1), .cols-xxs-4 > [class*=" col"]:nth-child(4n+1) {
    margin-left: 0;
  }

  .cols-xxs-3 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-xxs-3 > [class^=col]:not(.ml-0), .cols-xxs-3 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-xxs-3 > [class^=col], .cols-xxs-3 > [class*=" col"] {
    width: calc(33.3333333333% - 6.6666666667px);
  }
  .cols-xxs-3 > [class^=col]:nth-child(3n+1), .cols-xxs-3 > [class*=" col"]:nth-child(3n+1) {
    margin-left: 0;
  }

  .cols-xxs-2 {
    flex-wrap: wrap;
    display: flex;
  }
  .cols-xxs-2 > [class^=col]:not(.ml-0), .cols-xxs-2 > [class*=" col"]:not(.ml-0) {
    margin-left: 10px;
  }
  .cols-xxs-2 > [class^=col], .cols-xxs-2 > [class*=" col"] {
    width: calc(50% - 5px);
  }
  .cols-xxs-2 > [class^=col]:nth-child(2n+1), .cols-xxs-2 > [class*=" col"]:nth-child(2n+1) {
    margin-left: 0;
  }
}
@media (min-width: 1440px) {
  [class^=cols-] .col-xl-12, [class*=" cols-"] .col-xl-12 {
    width: calc(100% - 0px);
  }

  [class^=cols-] .col-xl-11, [class*=" cols-"] .col-xl-11 {
    width: calc(91.6666666667% - 0.8333333333px);
  }

  [class^=cols-] .col-xl-10, [class*=" cols-"] .col-xl-10 {
    width: calc(83.3333333333% - 1.6666666667px);
  }

  [class^=cols-] .col-xl-9, [class*=" cols-"] .col-xl-9 {
    width: calc(75% - 2.5px);
  }

  [class^=cols-] .col-xl-8, [class*=" cols-"] .col-xl-8 {
    width: calc(66.6666666667% - 3.3333333333px);
  }

  [class^=cols-] .col-xl-7, [class*=" cols-"] .col-xl-7 {
    width: calc(58.3333333333% - 4.1666666667px);
  }

  [class^=cols-] .col-xl-6, [class*=" cols-"] .col-xl-6 {
    width: calc(50% - 5px);
  }

  [class^=cols-] .col-xl-5, [class*=" cols-"] .col-xl-5 {
    width: calc(41.6666666667% - 5.8333333333px);
  }

  [class^=cols-] .col-xl-4, [class*=" cols-"] .col-xl-4 {
    width: calc(33.3333333333% - 6.6666666667px);
  }

  [class^=cols-] .col-xl-3, [class*=" cols-"] .col-xl-3 {
    width: calc(25% - 7.5px);
  }

  [class^=cols-] .col-xl-2, [class*=" cols-"] .col-xl-2 {
    width: calc(16.6666666667% - 8.3333333333px);
  }
}
@media (min-width: 1280px) {
  [class^=cols-] .col-lg-12, [class*=" cols-"] .col-lg-12 {
    width: calc(100% - 0px);
  }

  [class^=cols-] .col-lg-11, [class*=" cols-"] .col-lg-11 {
    width: calc(91.6666666667% - 0.8333333333px);
  }

  [class^=cols-] .col-lg-10, [class*=" cols-"] .col-lg-10 {
    width: calc(83.3333333333% - 1.6666666667px);
  }

  [class^=cols-] .col-lg-9, [class*=" cols-"] .col-lg-9 {
    width: calc(75% - 2.5px);
  }

  [class^=cols-] .col-lg-8, [class*=" cols-"] .col-lg-8 {
    width: calc(66.6666666667% - 3.3333333333px);
  }

  [class^=cols-] .col-lg-7, [class*=" cols-"] .col-lg-7 {
    width: calc(58.3333333333% - 4.1666666667px);
  }

  [class^=cols-] .col-lg-6, [class*=" cols-"] .col-lg-6 {
    width: calc(50% - 5px);
  }

  [class^=cols-] .col-lg-5, [class*=" cols-"] .col-lg-5 {
    width: calc(41.6666666667% - 5.8333333333px);
  }

  [class^=cols-] .col-lg-4, [class*=" cols-"] .col-lg-4 {
    width: calc(33.3333333333% - 6.6666666667px);
  }

  [class^=cols-] .col-lg-3, [class*=" cols-"] .col-lg-3 {
    width: calc(25% - 7.5px);
  }

  [class^=cols-] .col-lg-2, [class*=" cols-"] .col-lg-2 {
    width: calc(16.6666666667% - 8.3333333333px);
  }
}
@media (min-width: 1024px) {
  [class^=cols-] .col-md-12, [class*=" cols-"] .col-md-12 {
    width: calc(100% - 0px);
  }

  [class^=cols-] .col-md-11, [class*=" cols-"] .col-md-11 {
    width: calc(91.6666666667% - 0.8333333333px);
  }

  [class^=cols-] .col-md-10, [class*=" cols-"] .col-md-10 {
    width: calc(83.3333333333% - 1.6666666667px);
  }

  [class^=cols-] .col-md-9, [class*=" cols-"] .col-md-9 {
    width: calc(75% - 2.5px);
  }

  [class^=cols-] .col-md-8, [class*=" cols-"] .col-md-8 {
    width: calc(66.6666666667% - 3.3333333333px);
  }

  [class^=cols-] .col-md-7, [class*=" cols-"] .col-md-7 {
    width: calc(58.3333333333% - 4.1666666667px);
  }

  [class^=cols-] .col-md-6, [class*=" cols-"] .col-md-6 {
    width: calc(50% - 5px);
  }

  [class^=cols-] .col-md-5, [class*=" cols-"] .col-md-5 {
    width: calc(41.6666666667% - 5.8333333333px);
  }

  [class^=cols-] .col-md-4, [class*=" cols-"] .col-md-4 {
    width: calc(33.3333333333% - 6.6666666667px);
  }

  [class^=cols-] .col-md-3, [class*=" cols-"] .col-md-3 {
    width: calc(25% - 7.5px);
  }

  [class^=cols-] .col-md-2, [class*=" cols-"] .col-md-2 {
    width: calc(16.6666666667% - 8.3333333333px);
  }
}
@media (min-width: 768px) {
  [class^=cols-] .col-sm-12, [class*=" cols-"] .col-sm-12 {
    width: calc(100% - 0px);
  }

  [class^=cols-] .col-sm-11, [class*=" cols-"] .col-sm-11 {
    width: calc(91.6666666667% - 0.8333333333px);
  }

  [class^=cols-] .col-sm-10, [class*=" cols-"] .col-sm-10 {
    width: calc(83.3333333333% - 1.6666666667px);
  }

  [class^=cols-] .col-sm-9, [class*=" cols-"] .col-sm-9 {
    width: calc(75% - 2.5px);
  }

  [class^=cols-] .col-sm-8, [class*=" cols-"] .col-sm-8 {
    width: calc(66.6666666667% - 3.3333333333px);
  }

  [class^=cols-] .col-sm-7, [class*=" cols-"] .col-sm-7 {
    width: calc(58.3333333333% - 4.1666666667px);
  }

  [class^=cols-] .col-sm-6, [class*=" cols-"] .col-sm-6 {
    width: calc(50% - 5px);
  }

  [class^=cols-] .col-sm-5, [class*=" cols-"] .col-sm-5 {
    width: calc(41.6666666667% - 5.8333333333px);
  }

  [class^=cols-] .col-sm-4, [class*=" cols-"] .col-sm-4 {
    width: calc(33.3333333333% - 6.6666666667px);
  }

  [class^=cols-] .col-sm-3, [class*=" cols-"] .col-sm-3 {
    width: calc(25% - 7.5px);
  }

  [class^=cols-] .col-sm-2, [class*=" cols-"] .col-sm-2 {
    width: calc(16.6666666667% - 8.3333333333px);
  }
}
@media (min-width: 480px) {
  [class^=cols-] .col-xs-12, [class*=" cols-"] .col-xs-12 {
    width: calc(100% - 0px);
  }

  [class^=cols-] .col-xs-11, [class*=" cols-"] .col-xs-11 {
    width: calc(91.6666666667% - 0.8333333333px);
  }

  [class^=cols-] .col-xs-10, [class*=" cols-"] .col-xs-10 {
    width: calc(83.3333333333% - 1.6666666667px);
  }

  [class^=cols-] .col-xs-9, [class*=" cols-"] .col-xs-9 {
    width: calc(75% - 2.5px);
  }

  [class^=cols-] .col-xs-8, [class*=" cols-"] .col-xs-8 {
    width: calc(66.6666666667% - 3.3333333333px);
  }

  [class^=cols-] .col-xs-7, [class*=" cols-"] .col-xs-7 {
    width: calc(58.3333333333% - 4.1666666667px);
  }

  [class^=cols-] .col-xs-6, [class*=" cols-"] .col-xs-6 {
    width: calc(50% - 5px);
  }

  [class^=cols-] .col-xs-5, [class*=" cols-"] .col-xs-5 {
    width: calc(41.6666666667% - 5.8333333333px);
  }

  [class^=cols-] .col-xs-4, [class*=" cols-"] .col-xs-4 {
    width: calc(33.3333333333% - 6.6666666667px);
  }

  [class^=cols-] .col-xs-3, [class*=" cols-"] .col-xs-3 {
    width: calc(25% - 7.5px);
  }

  [class^=cols-] .col-xs-2, [class*=" cols-"] .col-xs-2 {
    width: calc(16.6666666667% - 8.3333333333px);
  }
}
@media (min-width: 360px) {
  [class^=cols-] .col-xxs-12, [class*=" cols-"] .col-xxs-12 {
    width: calc(100% - 0px);
  }

  [class^=cols-] .col-xxs-11, [class*=" cols-"] .col-xxs-11 {
    width: calc(91.6666666667% - 0.8333333333px);
  }

  [class^=cols-] .col-xxs-10, [class*=" cols-"] .col-xxs-10 {
    width: calc(83.3333333333% - 1.6666666667px);
  }

  [class^=cols-] .col-xxs-9, [class*=" cols-"] .col-xxs-9 {
    width: calc(75% - 2.5px);
  }

  [class^=cols-] .col-xxs-8, [class*=" cols-"] .col-xxs-8 {
    width: calc(66.6666666667% - 3.3333333333px);
  }

  [class^=cols-] .col-xxs-7, [class*=" cols-"] .col-xxs-7 {
    width: calc(58.3333333333% - 4.1666666667px);
  }

  [class^=cols-] .col-xxs-6, [class*=" cols-"] .col-xxs-6 {
    width: calc(50% - 5px);
  }

  [class^=cols-] .col-xxs-5, [class*=" cols-"] .col-xxs-5 {
    width: calc(41.6666666667% - 5.8333333333px);
  }

  [class^=cols-] .col-xxs-4, [class*=" cols-"] .col-xxs-4 {
    width: calc(33.3333333333% - 6.6666666667px);
  }

  [class^=cols-] .col-xxs-3, [class*=" cols-"] .col-xxs-3 {
    width: calc(25% - 7.5px);
  }

  [class^=cols-] .col-xxs-2, [class*=" cols-"] .col-xxs-2 {
    width: calc(16.6666666667% - 8.3333333333px);
  }
}
.cols-mb > [class^=col], .cols-mb > [class*=" col"] {
  margin-bottom: 10px;
}

button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.btn-primary {
  padding: 12px 25px;
  font-size: 1em;
  text-transform: lowercase;
  font-family: "Worksans-semibold", serif;
  color: #fff;
  background-color: #0796DD;
  border: 0;
  border-radius: 4px;
}

.btn-secondary {
  padding: 8px 25px;
  font-size: 0.875em;
  text-transform: lowercase;
  font-family: "Worksans-semibold", serif;
  color: #0788C8;
  background-color: #fff;
  border: 2px solid #0788C8;
  border-radius: 10px;
}

.btn-tertiary {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px 20px;
  max-height: 25px;
  text-transform: capitalize;
  font-size: 0.75em;
  font-family: "Worksans-semibold", serif;
  border: 0;
  border-radius: 12px;
  color: #fff;
  background-color: #31B67F;
}

.btn-default {
  padding: 10px 35px;
  font-size: 0.875em;
  text-transform: capitalize;
  font-family: "Worksans-semibold", serif;
  color: #1E272E;
  background-color: #fff;
  border: 0;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.btn-active {
  background-color: #72B7D9;
  color: #fff;
}
.btn-active:hover {
  opacity: 1;
  cursor: default;
}

.btn-clear {
  background: unset;
  border: unset;
  padding: unset;
}
.btn-clear:hover {
  cursor: pointer;
  opacity: 0.7;
}

.m-1 {
  margin: 5px;
}

.mt-1 {
  margin-top: 5px;
}

.mr-1 {
  margin-right: 5px;
}

.mb-1 {
  margin-bottom: 5px;
}

.ml-1 {
  margin-left: 5px;
}

.p-1 {
  padding: 5px;
}

.pt-1 {
  padding-top: 5px;
}

.pr-1 {
  padding-right: 5px;
}

.pb-1 {
  padding-bottom: 5px;
}

.pl-1 {
  padding-left: 5px;
}

.m-2 {
  margin: 10px;
}

.mt-2 {
  margin-top: 10px;
}

.mr-2 {
  margin-right: 10px;
}

.mb-2 {
  margin-bottom: 10px;
}

.ml-2 {
  margin-left: 10px;
}

.p-2 {
  padding: 10px;
}

.pt-2 {
  padding-top: 10px;
}

.pr-2 {
  padding-right: 10px;
}

.pb-2 {
  padding-bottom: 10px;
}

.pl-2 {
  padding-left: 10px;
}

.m-3 {
  margin: 15px;
}

.mt-3 {
  margin-top: 15px;
}

.mr-3 {
  margin-right: 15px;
}

.mb-3 {
  margin-bottom: 15px;
}

.ml-3 {
  margin-left: 15px;
}

.p-3 {
  padding: 15px;
}

.pt-3 {
  padding-top: 15px;
}

.pr-3 {
  padding-right: 15px;
}

.pb-3 {
  padding-bottom: 15px;
}

.pl-3 {
  padding-left: 15px;
}

.m-4 {
  margin: 20px;
}

.mt-4 {
  margin-top: 20px;
}

.mr-4 {
  margin-right: 20px;
}

.mb-4 {
  margin-bottom: 20px;
}

.ml-4 {
  margin-left: 20px;
}

.p-4 {
  padding: 20px;
}

.pt-4 {
  padding-top: 20px;
}

.pr-4 {
  padding-right: 20px;
}

.pb-4 {
  padding-bottom: 20px;
}

.pl-4 {
  padding-left: 20px;
}

.m-5 {
  margin: 25px;
}

.mt-5 {
  margin-top: 25px;
}

.mr-5 {
  margin-right: 25px;
}

.mb-5 {
  margin-bottom: 25px;
}

.ml-5 {
  margin-left: 25px;
}

.p-5 {
  padding: 25px;
}

.pt-5 {
  padding-top: 25px;
}

.pr-5 {
  padding-right: 25px;
}

.pb-5 {
  padding-bottom: 25px;
}

.pl-5 {
  padding-left: 25px;
}

.m-6 {
  margin: 30px;
}

.mt-6 {
  margin-top: 30px;
}

.mr-6 {
  margin-right: 30px;
}

.mb-6 {
  margin-bottom: 30px;
}

.ml-6 {
  margin-left: 30px;
}

.p-6 {
  padding: 30px;
}

.pt-6 {
  padding-top: 30px;
}

.pr-6 {
  padding-right: 30px;
}

.pb-6 {
  padding-bottom: 30px;
}

.pl-6 {
  padding-left: 30px;
}

.m-7 {
  margin: 35px;
}

.mt-7 {
  margin-top: 35px;
}

.mr-7 {
  margin-right: 35px;
}

.mb-7 {
  margin-bottom: 35px;
}

.ml-7 {
  margin-left: 35px;
}

.p-7 {
  padding: 35px;
}

.pt-7 {
  padding-top: 35px;
}

.pr-7 {
  padding-right: 35px;
}

.pb-7 {
  padding-bottom: 35px;
}

.pl-7 {
  padding-left: 35px;
}

.m-8 {
  margin: 40px;
}

.mt-8 {
  margin-top: 40px;
}

.mr-8 {
  margin-right: 40px;
}

.mb-8 {
  margin-bottom: 40px;
}

.ml-8 {
  margin-left: 40px;
}

.p-8 {
  padding: 40px;
}

.pt-8 {
  padding-top: 40px;
}

.pr-8 {
  padding-right: 40px;
}

.pb-8 {
  padding-bottom: 40px;
}

.pl-8 {
  padding-left: 40px;
}

.m-9 {
  margin: 45px;
}

.mt-9 {
  margin-top: 45px;
}

.mr-9 {
  margin-right: 45px;
}

.mb-9 {
  margin-bottom: 45px;
}

.ml-9 {
  margin-left: 45px;
}

.p-9 {
  padding: 45px;
}

.pt-9 {
  padding-top: 45px;
}

.pr-9 {
  padding-right: 45px;
}

.pb-9 {
  padding-bottom: 45px;
}

.pl-9 {
  padding-left: 45px;
}

.m-10 {
  margin: 50px;
}

.mt-10 {
  margin-top: 50px;
}

.mr-10 {
  margin-right: 50px;
}

.mb-10 {
  margin-bottom: 50px;
}

.ml-10 {
  margin-left: 50px;
}

.p-10 {
  padding: 50px;
}

.pt-10 {
  padding-top: 50px;
}

.pr-10 {
  padding-right: 50px;
}

.pb-10 {
  padding-bottom: 50px;
}

.pl-10 {
  padding-left: 50px;
}

@media (min-width: 1440px) {
  .text-xl-left {
    text-align: left;
  }

  .text-xl-right {
    text-align: right;
  }

  .text-xl-center {
    text-align: center;
  }

  .text-xl-justify {
    text-align: justify;
  }
}
@media (min-width: 1280px) {
  .text-lg-left {
    text-align: left;
  }

  .text-lg-right {
    text-align: right;
  }

  .text-lg-center {
    text-align: center;
  }

  .text-lg-justify {
    text-align: justify;
  }
}
@media (min-width: 1024px) {
  .text-md-left {
    text-align: left;
  }

  .text-md-right {
    text-align: right;
  }

  .text-md-center {
    text-align: center;
  }

  .text-md-justify {
    text-align: justify;
  }
}
@media (min-width: 768px) {
  .text-sm-left {
    text-align: left;
  }

  .text-sm-right {
    text-align: right;
  }

  .text-sm-center {
    text-align: center;
  }

  .text-sm-justify {
    text-align: justify;
  }
}
@media (min-width: 480px) {
  .text-xs-left {
    text-align: left;
  }

  .text-xs-right {
    text-align: right;
  }

  .text-xs-center {
    text-align: center;
  }

  .text-xs-justify {
    text-align: justify;
  }
}
@media (min-width: 360px) {
  .text-xxs-left {
    text-align: left;
  }

  .text-xxs-right {
    text-align: right;
  }

  .text-xxs-center {
    text-align: center;
  }

  .text-xxs-justify {
    text-align: justify;
  }
}
.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.centered-axis-xy {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.sect-cont-wrap {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

.sect-cont {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.inner-cont {
  width: 100%;
  padding-left: 105px;
  padding-right: 105px;
}

.alg-center {
  display: flex;
  align-items: center;
}

.mark-top {
  position: absolute;
  bottom: 10px;
  left: 15px;
  width: 16px;
  height: 16px;
  padding-left: 1px;
  font-size: 14px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  background-color: #E64A19;
}

.active {
  color: #1E272E;
  cursor: default;
}
.active:hover {
  opacity: 1;
}

.danger {
  color: #fff;
  background-color: #E2424E;
}
.danger:hover {
  opacity: 1;
}

@media (min-width: 1440px) {
  .float-xl-left {
    float: left;
  }

  .floatxl-right {
    float: right;
  }
}
@media (min-width: 1280px) {
  .float-lg-left {
    float: left;
  }

  .floatlg-right {
    float: right;
  }
}
@media (min-width: 1024px) {
  .float-md-left {
    float: left;
  }

  .floatmd-right {
    float: right;
  }
}
@media (min-width: 768px) {
  .float-sm-left {
    float: left;
  }

  .floatsm-right {
    float: right;
  }
}
@media (min-width: 480px) {
  .float-xs-left {
    float: left;
  }

  .floatxs-right {
    float: right;
  }
}
@media (min-width: 360px) {
  .float-xxs-left {
    float: left;
  }

  .floatxxs-right {
    float: right;
  }
}
.clear-after::after {
  content: "";
  clear: both;
  display: block;
}

.test-grid [class^=col], .test-grid > [class*=" col"] {
  min-height: 200px;
  border: 2px solid gray;
  padding: 15px;
}

@media (max-width: 1440px) {
  .inner-cont {
    padding-left: 50px;
    padding-right: 50px;
  }

  .hdr.inner-cont {
    padding-left: 25px;
  }

  aside {
    max-width: 200px;
    min-width: 200px;
  }
  aside > nav {
    padding-left: 25px;
  }

  .nav-list > li > a > i {
    padding-right: 10px;
  }

  .card-list {
    padding-left: 10px;
    padding-right: 5px;
  }

  .card-diff {
    padding-left: 10px;
    padding-right: 5px;
  }
}
@media (max-width: 1280px) {
  body {
    font-size: 15px;
  }
}

/*# sourceMappingURL=main.css.map */
