.setg-form {
    margin-top: 40px;
    & > div:last-child {
        margin-top: -40px;
    }
}

.form-group {
    position: relative;
    color: $color-text-primary;
    & > label {
        @include position(0px);
        display: block;
        padding-left: 10px;
        font-size: 1em;
        line-height: 38px;
        transition-property: top, border, padding, font-size;
        transition-duration: $trns-duration;
        transition-timing-function: ease-out;
    }
    & > select > option {
        background-color: $color-bg-primary;
    }
    & > input {
        &:focus {
            & + label {
                top: -30px;
                padding-left: 0;
                font-size: 0.75em;
                color: $color-text-custom;
            }
        }
        & + .label-active {
            top: -30px;
            padding-left: 0;
            color: $color-text-custom;
        }
    }

    & > p {
        margin-top: 10px;
        text-indent: 10px;
    }
}

.radio-container {
    padding-left: 15px;
}

.stg-radio-list {
    margin-top: 15px;
    font-size: 0.8em;
    & > li {
        margin-right: 15px;
        margin-bottom: 15px;
        &:last-of-type {
            margin-right: 0;
            margin-bottom: 0;
        }
    }
}

.radio-wrap {
    position: relative;
    padding-left: 30px;
    padding-top: 2px;
    user-select: none;
    & input {
        @include position();
        opacity: $opacity-none;
        &:checked ~ .checkmark {
            background-color: map-get($btn-colors, secondary);
            &::after {
                display: block;
            }
        }
    }
    &:hover input {
        &:checked ~ .checkmark {
            background-color: rgba(map-get($btn-colors, secondary), $opacity-default);
        }
        & ~ .checkmark {
            background-color: rgba(map-get($btn-colors, secondary), $opacity-primary);
        }
    }
}

.checkmark {
    @include position(0, null, null, 0);
    height: 18px;
    width: 18px;
    border-radius: $br-rounded;
    background: map-get($btn-colors, secondary);
    &::after {
        content: "";
        @include position(6px, null, null, 6px);
        display: none;
        width: 6px;
        height: 6px;
        border-radius: $br-rounded;
        background: $color-light;
    }
}
